<div class='row'>
    <div class='col-12 text-center'>
        <h1>EXPERIENCE</h1>
        <div class='underline' data-aos='fade-right'data-aos-anchor-placement='top' ></div>
    </div>
</div>
<div class='row mt-4 mb-4'>
    <div class='col-md-6'>
        <div class='card' data-aos='fade-up-right'data-aos-anchor-placement='top'>
            <img class='profile-pic' src='../../assets/lga.jpg'>
        </div>
    </div>
    <div class='col-md-6'>
        <div class='card' data-aos='fade-up-left'data-aos-anchor-placement='top'>
            <img class='profile-pic' src='../../assets/zoho.jpg'>
        </div>
    </div>
</div>
