<ul class="timeline">
    <!-- Item 1 -->
    <li data-aos='fade-left'>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">I was Born</span>
          <span class="time-wrapper"><span class="time">April 1995</span></span>
        </div>
        <div class="desc">Definitely was a one time experience, that I have a hard time remembering. People tell me it was on a monday in Kanpur, U.P, India.</div>
      </div>
    </li>
  
    <!-- Item 2 -->
    <li data-aos='fade-right'>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">Schooling & Education</span>
          <span class="time-wrapper"><span class="time">1999 - 2017</span></span>
        </div>
        <div class="desc">Well it started with just abc and quickly escalated to calculus and eventually to Computer Science and Technology at College of Engineering, Trivandrum.</div>
      </div>
    </li>
  
    <!-- Item 3 -->
    <li data-aos='fade-left'>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">Member Technical Staff at Zoho</span>
          <span class="time-wrapper"><span class="time">July 2017 - March 2018</span></span>
        </div>
        <div class="desc">My first indulgence into the corporate world of software and technology. It was an 8 months of learning, working with a great team of 13. Made significant contibutions to database design and a java based backend for a web based contract mangament system.</div>
      </div>
    </li>

    <!-- Item 4 -->
    <li data-aos='fade-right'>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Moved to New York</span>
            <span class="time-wrapper"><span class="time">April 2018</span></span>
          </div>
          <div class="desc">That escalated quickly, didn't it? I thought so too, one moment I was writing Java code at Zoho and then next moment I was moving to New York.</div>
        </div>
      </li>
    <!-- Item 5 -->
    <li data-aos='fade-left'>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Web Developer at LGA</span>
            <span class="time-wrapper"><span class="time">June 2018 - now</span></span>
          </div>
          <div class="desc">I joined Legal and General America at a turning point, both for them at me. 
              It was the point where they had decided to start a transformation to change the life insurance industry, and luckily I was there to see that start. 
              It has been an interesting learning journey from that point on, where I learned a lot about how to work in a team going through forming, storming and norming phases while building an industry changing product. 
              I also got to meet Agile, its beauty and its caveats in the real world. Btw also moved to Maryland as a result.</div>
        </div>
      </li>

    
      <li data-aos='fade-right' data-aos-anchor-placement='top'>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
          </div>
        </div>
      </li>
      <li data-aos='fade-left' data-aos-anchor-placement='top'>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
          </div>
        </div>
      </li>
      <li data-aos='fade-right' data-aos-anchor-placement='top'>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
          </div>
        </div>
      </li>
      <!-- <li data-aos='fade-left'>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
          </div>
        </div>
      </li>
      <li data-aos='fade-right'>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
          </div>
        </div>
      </li> -->
    <!-- Item 6 -->
    <li data-aos='fade-left' data-aos-anchor-placement='top'>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Live Forever or Die Trying</span>
            <span class="time-wrapper"><span class="time">Far Future ...</span></span>
          </div>
          <div class="desc hidden"></div>
        </div>
      </li>
  </ul>
