
<div class='row'>
    <div class='col-12 text-center'>
        <h1>ABOUT</h1>
        <div class='underline'></div>
    </div>
</div>
<div class='row mt-4'>
    <div class='col'>
        <div class='hex-wrap'>
            <div class='hexagon'>
                <mat-icon>devices</mat-icon>
            </div>
        </div>
        <div class='text-center hex-title'>Responsive Web Design</div>
        <div class='text-center hex-description'>Mobile first design and development, try this website on your phone if you've not already done so.</div>
    </div>
    <div class='col'>
        <div class='hex-wrap'>
            <div class='hexagon'>
                <mat-icon>apps</mat-icon>
            </div>
        </div>
        <div class='text-center hex-title'>Single Page Applications</div>
        <div class='text-center hex-description'>Experienced in building fast, modern apps using frameworks like Angular.</div>
    </div>
    <div class='col'>
        <div class='hex-wrap'>
            <div class='hexagon'>
                <mat-icon>arrow_upward</mat-icon>
            </div>
        </div>
        <div class='text-center hex-title ci-cd'>CI/ CD</div>
        <div class='text-center hex-description'>This website gets deployed to firebase automatically everytime push code to a release/master branch <a href='https://github.com/devilsangel/kevins-port' target='_blank'>here</a>.</div>
    </div>
    <div class='col'>
        <div class='hex-wrap'>
            <div class='hexagon'>
                <mat-icon>cloud_done</mat-icon>
            </div>
        </div>
        <div class='text-center hex-title'>Docker/ Cloud Readiness</div>
        <div class='text-center hex-description'>Experienced in developing dockerized and cloud ready applications and deploying them to cloud services like firebase, heroku and aws.</div>
    </div>
    <div class='col'>
        <div class='hex-wrap'>
            <div class='hexagon'>
                <mat-icon>emoji_objects</mat-icon>
            </div>
        </div>
        <div class='text-center hex-title ci-cd'>Problem Solving</div>
        <div class='text-center hex-description'>I consider and love finding elagant solutions to problems as a core part of my job</div>
    </div>
</div>