$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;

$secondary-color: #343434;

$dark-primary: #0288d1;
$light-primary: #B3E5FC;
$primary: #03A9F4;
$accent: #FFC107;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$fade-in-time: 3s;