/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities"; // add css utilities
@import "reset";

html {
    height: 100%;
    body {
        font-family: 'Raleway';
        height: 100%;
        color: $primary-text;
        .underline {
            width: 50px;
            border-bottom: 3px solid #333;
            margin: auto;
        }
        .fade-in {
            animation: fadeIn ease $fade-in-time;
            -webkit-animation: fadeIn ease $fade-in-time;
            -moz-animation: fadeIn ease $fade-in-time;
            -o-animation: fadeIn ease $fade-in-time;
            -ms-animation: fadeIn ease $fade-in-time;
          }@keyframes fadeIn {
            0% {
              opacity:0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-moz-keyframes fadeIn {
            0% {
              opacity:0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-webkit-keyframes fadeIn {
            0% {
              opacity:0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-o-keyframes fadeIn {
            0% {
              opacity:0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-ms-keyframes fadeIn {
            0% {
              opacity:0;
            }
            100% {
              opacity:1;
          }
        }
    }
}
