@import "../../variables";
.cover {
    height: 70%;
    background: linear-gradient(to right, white, white 40%, $dark-primary 50%, black 50%, black 70%, black 100%);
    color: #ffffff;
    text-align: center;
    border-bottom: 3px solid $dark-primary;
    .img-col{
        height: 100%;
        img {
            height: 100%;
        }
    }
    .cover-text2, .cover-text {
        color:white;
        position:absolute;
        top:20%;
        text-align:center;
        width: 50%;
        h1 {
            font-size: 45px;
            text-decoration: underline;
            .highlight {
                color:#E64A19;
            }
        }
    }
    .cover-text2 {
        right: 0;
    }
}

@media ( max-width: 991.98px ) {
    .cover {
        height: auto;
        .img-col{
            width: 100%;
            height: auto;
            img {
                height: auto;
                width: 100%;
            }
        }
    }
}