<div class='cover'>
    <div class='img-col fade-in'>
        <img src='../../assets/cover3.jpeg'>
        <!-- <div class='blur'></div> -->
        <!-- <div class='cover-text'>
            <h1>Thinker/ Creator</h1>
        </div>
        <div class='cover-text2'>
            <h1>Programmer/ Developer</h1>
        </div> -->
    </div>
</div>
<div class='container'>
    <div class='row mt-4'>
        <div class='col-12'>
            <app-profile></app-profile>
        </div>
    </div>
    <div class='row mt-4'>
        <div class='col-12'>
            <app-experience></app-experience>
        </div>
    </div>
</div>